@model LoginViewModel
@{
    ViewData["Title"] = "LoginView";
}

<style>
    .button {
        margin-top: 20px;
    }
</style>

<h2>Login</h2>
<form asp-controller="Users" asp-action="LoginView" method="post">
    <div>
        <p>Email</p>
        <input type="text" name="Email" />
        <span asp-validation-for="Email"></span>
    </div>

    <div>
        <p>Password</p>
        <input type="password" name="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input class="button" type="submit" value="Login"></input>
    </div>
</form>


    <p>Don't have an account?
    <a asp-controller="Users" asp-action="RegistrationView">Register Here!</a>
</p>